.additional__heading {
	position: absolute;
	width: 248px;
	top: 30px;

	font-family: Inter-Black, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 27px;
	line-height: 29px;

	color: #FFFFFF;
	z-index: 1;
}